<div class="form-group col-md-2">
  <label for="semester">სემესტრი:</label>
  <select id="semester" class="form-control" (change)="semesterChanged()" [(ngModel)]="selectedSemester">
    <option *ngFor="let sem of semesters" [ngValue]="sem">{{sem | formatSemesterName :'ge'}}</option>
  </select>
</div>
<div class="form-group col-md-2">
  <label for="subject">საგანი:</label>
  <select id="subject" class="form-control" [(ngModel)]="selectedSubject" (change)="subjectChanged()">
    <option *ngFor="let sub of subjects" [ngValue]="sub">{{sub.name}}</option>
  </select>
</div>

<table class="table table-striped table-hover" style="margin-top: 10px;">
  <tr>
    <th>სტუდენტი</th>
    <th *ngFor="let gradeType of gradeTypes">{{gradeType.name}} (მაქს.: {{gradeType.maxGrade}})</th>
    <th *ngIf="selectedSubject">
      <i class="btn btn-default" role="button" style="padding: 0" (click)="open(addGradeType)">
        <span class="glyphicon glyphicon-plus" style="width: 38px" aria-hidden="true" title="დამატება"></span>
      </i>
    </th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.lastName}} {{student.firstName}}</td>
    <td *ngFor="let grade of student.grades"><input type="text" pattern="[0-9]+" class="form-control" (change)="addToChanges(student,grade)" [(ngModel)]="grade.grade" [disabled]="grade.submited"></td>
    <td></td>
  </tr>
</table>

<button *ngIf="dataNotSubmitted" (click)="submitGrades()">ქულების შენახვა</button>

<ng-template #addGradeType let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">დაამატეთ შეფასების ნაწილი</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="სახელი" type="text" [(ngModel)]="subjectGradeToAdd.name">
    </div>
    <div class="form-group">
      <input class="form-control" name="max" placeholder="მაქსიმალური ქულა" type="number" [(ngModel)]="subjectGradeToAdd.maxGrade">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="addSubjectGradeType(); c('Close click')">შენახვა</button>
  </div>
</ng-template>
